<%# Checks if user is signed in %>
<% if user_signed_in? %>
  <div class="container-fluid d-flex mt-3">
    <div class="sidebar col-3">
      <h4>Projects</h4>
      <%= render "shared/projects_sidebar", project: @projects %>
      <%# <%= render "kanban", project: @project %>
    </div>
  </div>
<% end %>
