 <%# Checks if user is signed in %>
<% if user_signed_in? %>
  <div class="container-fluid d-flex mt-3">
    <div class="sidebar col-3">
      <h4>Projects</h4>
      <%= render "shared/projects_sidebar", project: @projects %>
      <%# <%= render "kanban", project: @project %>
    </div>
    <div id = "project-container" class = "project">
      <nav class="nav flex-column">
        <%# Show all projects %>
        <%  project = @project %>
        <% if project.user_ids.include?(current_user.id) || current_user.id == project.created_by %>
          <br>
          <br>
          <%# Get project details %>
          <%= render "pages/project_container", project: project, task: @tasks%>
          <%= render "pages/todo", project: project, task: @tasks%>
        </nav>
        <br>
        <br>
        <div id = "task-container" class = "fluid-container">
        </div>
      </div>
    </div>
  <% end %>
<% end %>
