/* .navbar {
  justify-content: space-between;
  background: white;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 50px;
}
#logo {
  margin-right: auto;
}
#screen-name {
  margin: 0 auto;
  margin-right: 20px;
  display: flex;
  align-items: center;
} */

#pnp_navbar .container-fluid .row, .navbar-height {
  height: 56px;
}

.pnp_navbar_user_image {
  width: 50px;
  height: 50px;
}

.pnp_navbar_dropdown_icon::after {
  display: none !important;
}

.navbar-primary .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
}

.navbar-primary .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}