// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

// Your CSS partials
@import "components/index";
@import "components/wiki";
@import "components/dashboard";
@import "components/kanban";
@import "pages/index";

// P&NP Logo
.pnp_logo_blue {
  width: 60px;
  height: 25px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNjAiIGhlaWdodD0iMjUiIHZpZXdCb3g9IjAgMCA2MCAyNSI+CiAgPGRlZnM+CiAgICA8Y2xpcFBhdGggaWQ9ImNsaXAtV2ViXzE5MjBfMSI+CiAgICAgIDxyZWN0IHdpZHRoPSI2MCIgaGVpZ2h0PSIyNSIvPgogICAgPC9jbGlwUGF0aD4KICA8L2RlZnM+CiAgPGcgaWQ9IldlYl8xOTIwXzEiIGRhdGEtbmFtZT0iV2ViIDE5MjAg4oCTIDEiIGNsaXAtcGF0aD0idXJsKCNjbGlwLVdlYl8xOTIwXzEpIj4KICAgIDx0ZXh0IGlkPSJQX05QIiBkYXRhLW5hbWU9IlAmYW1wO05QIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzMCAyMCkiIGZpbGw9IiM4ZmFhYzgiIGZvbnQtc2l6ZT0iMjIiIGZvbnQtZmFtaWx5PSJXb3JrIFNhbnMiIGZvbnQtd2VpZ2h0PSI2MDAiIGZvbnQtc3R5bGU9Iml0YWxpYyI+PHRzcGFuIHg9Ii0yOC43NzYiIHk9IjAiPlAmYW1wO05QPC90c3Bhbj48L3RleHQ+CiAgPC9nPgo8L3N2Zz4K);
}

.pnp_logo_white {
  width: 60px;
  height: 25px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNjAiIGhlaWdodD0iMjUiIHZpZXdCb3g9IjAgMCA2MCAyNSI+CiAgPGRlZnM+CiAgICA8Y2xpcFBhdGggaWQ9ImNsaXAtV2ViXzE5MjBfNCI+CiAgICAgIDxyZWN0IHdpZHRoPSI2MCIgaGVpZ2h0PSIyNSIvPgogICAgPC9jbGlwUGF0aD4KICA8L2RlZnM+CiAgPGcgaWQ9IldlYl8xOTIwXzQiIGRhdGEtbmFtZT0iV2ViIDE5MjAg4oCTIDQiIGNsaXAtcGF0aD0idXJsKCNjbGlwLVdlYl8xOTIwXzQpIj4KICAgIDx0ZXh0IGlkPSJQX05QIiBkYXRhLW5hbWU9IlAmYW1wO05QIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzMCAyMCkiIGZpbGw9IiNmZmYiIGZvbnQtc2l6ZT0iMjIiIGZvbnQtZmFtaWx5PSJXb3JrIFNhbnMiIGZvbnQtd2VpZ2h0PSI2MDAiIGZvbnQtc3R5bGU9Iml0YWxpYyI+PHRzcGFuIHg9Ii0yOC43NzYiIHk9IjAiPlAmYW1wO05QPC90c3Bhbj48L3RleHQ+CiAgPC9nPgo8L3N2Zz4K);
}

// Colour
.pnp_bg_blue {
  background-color: #8faac8;
}

li {
  list-style-type: none;
}

.project-card {
  padding: 2px;
  border-radius: 10px;
  margin: auto;
}

.card {
  padding: 2px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.notifications {
  height: 400px;
  overflow: hidden;
  overflow-y: scroll;
  padding: 5px;
}

// Setup minium height of the viewport - navbar
.min-height-viewport {
  min-height: calc(100vh - 56px) !important;
}

// // .tasks-card {
// //   background-color: aliceblue;
// //   padding: 20px;
// //   border-radius: 10px;
// // }
// .container {
//   background-image: url("https://source.unsplash.com/random");
//   background-position: cover;
//   height: 1000vh;
// }

// .task {
//   background-color: rgb(227, 215, 172);
//   padding: 20px;
//   margin: 20px;
//   border-radius: 10px;
// }

// .test h1 {
//   color: white;
// }

/* .kanban {
  display: flex;
  margin: 24px;
}
.kanban-col {
  list-style: none;
  width: 160px;
  padding: 0;
  margin-left: 8px;
}
.kanban-col-name {
  background-color: lightblue;
  text-align: center;
  margin-bottom: 16px;
  padding: 16px;
}
.kanban-col-item {
  background-color: white;
  margin-bottom: 4px;
  padding: 16px;
  cursor: grab;
} */
.kanban-col-item:active {
  cursor: grabbing;
}
